body {
    background-color: rgb(56, 94, 79);
}

.middle {
    text-align: center
}

.photo{
    height: 200px;
    align-items: center;
}
.set{
    padding-bottom:15px;
    margin: auto;
}

.left{
   float: right; 
}

.sizex{
    width: 100%;
}

